body {
  font-family: arial, verdana, sans-serif;
  overflow: hidden;
}

header {
  text-align:center;
  width: 100%;
  height: 40px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 250px;
}

.radio-group {
  display: inline-block;
}

.input-group {
  margin-top: 10px;
}

.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

#vod-inputs {
  display: none;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#video-player {
  position: relative;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.95);
  border: 2px #ccc solid;
  width: 640px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#content {
  overflow: hidden;
  background-color: black;
}

#content, #ad-ui {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 640px;
  height: 360px;
}

#input-wrapper {
  vertical-align: top;
}

#input-wrapper, #buttons {
  width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

#progress {
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}

.button {
  margin: 0 auto;
  display: inline;
  vertical-align: top;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-bottom: 2px solid #22303f;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #22303f;
  box-shadow: inset 0 -2px #22303f;
}

#play-button {
  width: 150px;
}

#bookmark-button {
  width: 300px;
}

#companion {
  width: 728px;
  height: 90px;
  margin: auto;
  margin-top: 10px;
}
